<div *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
    </div>
    <span class="lead">Loading...</span>
</div>

<h2>{{ lottery.description }}</h2>

<ul>
    <li *ngFor="let ticket of tickets">
        {{ ticket.number }} - {{ ticket.salt }}
    </li>
</ul>

<form (ngSubmit)="onSubmit()">
    <button class="btn btn-primary" [ngClass]="{ 'disabled': isOver() || isLoading }">
        Enter
    </button>
</form>

<form (ngSubmit)="onReveal()">
    <button class="btn btn-primary" [ngClass]="{ 'disabled': !isOver() || isLoading || hasNoTickets() }">
        Reveal
    </button>
</form>
