<div *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
    </div>
    <span class="lead">Loading...</span>
</div>

<h2>{{ lottery.description }}</h2>

<div *ngIf="lottery.isManager">
    You are the manager of this lottery!
</div>

<div>
    <p *ngIf="!lottery.isOver" class="lead">Expiration {{ lottery.expirationDelta }} ({{ lottery.expiration|date:'medium' }})</p>
    <p *ngIf="!lottery.isRevealWindowOver" class="lead">Reveal window {{ lottery.revealWindowDelta }} ({{ lottery.revealWindow|date:'medium' }})</p>
    <p class="lead">{{ lottery.contestants?.length }} contestants</p>
    <p class="lead">{{ lottery.reveals?.length }} revealed tickets</p>
</div>

<h3>Your tickets</h3>

<div>
    <p class="lead">You owe {{ tickets.length }} tickets</p>
</div>

<ul class="list-group mb-3">
    <li *ngFor="let ticket of tickets" class="list-group-item" [ngClass]="{ 'list-group-item-success': ticket.revealed }">
        {{ ticket.number }} - {{ ticket.salt }}
        <div *ngIf="ticket.revealed">Ticket has been revealed</div>
    </li>
</ul>

<div class="row mb-3">
    <form class="d-grid col" (ngSubmit)="onSubmit()">
        <button class="btn btn-primary" [ngClass]="{ 'disabled': isOver() || isLoading }">
            Enter
        </button>
    </form>
    
    <form class="d-grid col" (ngSubmit)="onReveal()">
        <button class="btn btn-primary" [ngClass]="{ 'disabled': !isOver() || isLoading || hasNoTickets() }">
            Reveal
        </button>
    </form>
</div>

<div class="row mb-3" *ngIf="canWithdraw()">
    <form class="d-grid col" (ngSubmit)="withdraw()">
        <button class="btn btn-primary" [ngClass]="{ 'disabled': (!isOver() && !lottery.isRevealWindowOver) || isLoading }">
            Withdraw
        </button>
    </form>
</div>
