<h2>Lottery</h2>

<div>
    <a routerLink="/dashboard">Dashboard</a> >
    <a routerLink="/lottery">Lottery</a>
</div>

<div>
    <a class="btn btn-primary" routerLink="/lottery/create">Add Lottery</a>
</div>

<hr>

<ul class="list-group">
  <li class="list-group-item list-group-item-action" routerLink="/lottery/{{ lottery }}" *ngFor="let lottery of lotteries">
    <div><span class="lead">{{ lottery.id }}</span></div>
    <div>balance {{ lottery.balance }}</div>
    <div>{{ lottery.owner }}</div>
  </li>
</ul>
