<h2>Lottery</h2>

<div>
    <a routerLink="/dashboard">Dashboard</a> >
    <a routerLink="/lottery">Lottery</a>
</div>

<div>
    <a class="btn btn-primary" routerLink="/lottery/create">Add Lottery</a>
</div>

<hr>

<ul class="list-group">
  <li class="list-group-item list-group-item-action" routerLink="/lottery/{{ lottery.id }}" *ngFor="let lottery of lotteries">
    <div><span class="lead">{{ lottery.description }}</span></div>
    <div>{{ lottery.id }}</div>
    <div>balance {{ lottery.balance }} ETH</div>
    <div>Prize {{ lottery.prize }} ETH</div>
    <div>Participation Fee {{ lottery.participationFee }} ETH</div>
    <div>Manager {{ lottery.manager }}</div>
    <hr>
    <button class="btn btn-primary">Enter this Lottery</button>
  </li>
</ul>
