<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Solidity Lottery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lottery">Lotteries</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">
  <h1 class="display-1">Solidity Lottery</h1>

  {{ account }}
  
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="container">
    <p>&copy; 2024 Solidity Lottery</p>
  </div>

  <div class="container">
    <p>Powered by <b>V. Di Pasquale & Y. Brandi</b> using the <a href="https://www.trufflesuite.com/">Truffle Suite</a></p>
  </div>

</footer>
